{{ include('base.html.twig') }}
<body>
        <div class="container">
            <h1>Edit {{ brand.getBrandName }} info:</h1>
            <li><a  href="/">Home</a></li>
            <div class="well">
                <form name="new-brand" action="/brands/{{ brand.getId }}" method="post">
                    <input name="_method" type="hidden" value = "patch">
                    <input id="id" type="hidden" name="id" value="{{ brand.getId() }}">
                    <label for="new-brand">Edit brand name</label>
                    <input id="new-brand" type="text" name="new-brand" class="form-control">

                    <button class="btn btn-info add" type="submit" name="button">Update</button>
                </form>
                <h3>Add a store to this brand.</h3>
                <form action='/add_store' method='post'>
                    <input id="brand_id" name="brand_id" type="hidden" value="{{ brand.getId }}">
                    <label for="store_id">Select a store</label>
                    <select id='store_id' name='store_id' type='text'>
                        {% for store in all_stores %}
                            <option value="{{ store.getId }}"> {{ store.getStoreName }} </option>
                        {% endfor %}
                    </select>
                    <button type='submit'>Add store</button>
                </form>

                <form class="form-group" action="/delete-brand/{{brand.getId}}"  method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button id="delete" class="btn btn-danger" type="submit">Delete {{ brand.getBrandName }}</button>
                </form>
                <p>Retailers carrying: {{ brand.getBrandName }}</p>
                <ul>
                    {% for store in stores %}
                    <li><a href="/stores/{{ store.getId }}">{{ store.getStoreName }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
