{{ include('base.html.twig') }}

<body>
        <div class="container">

            <h1>Edit {{ store.getStoreName }} info:</h1>
            <li><a  href="/">Home</a></li>
            <div class="well">
                <form name="new-store" action="/stores/{{store.getId}}" method="post">
                    <input name="_method" type="hidden" value = "patch">
                    <input id="id" type="hidden" name="id" value="{{ store.getId() }}">
                    <label for="new-store">Edit store name</label>
                    <input id="new-store" type="text" name="new-store" class="form-control">

                    <button class="btn btn-info add" type="submit" name="button">Update</button>
                </form>

                <form class="" action="/update-store/{{ store.getId }}" method="post">
                    <label for="add-brand">Add a brand to {{ store.getStoreName }}</label>
                    <input class="form-control" type="text" name="add-brand">

                    <button class="btn btn-info add" type="submit" name="button">Update</button>
                </form>
                <form action='/delete-brand-from-store/' method='post'>
                    <input type="hidden" name="_method" value="delete">
                    <label for="submit">Delete from this store.</label>
                    <button type='submit' class="btn btn-md btn-danger">Delete</button>
                </form>

                    <p>Brands carried by {{ store.getStoreName }}:</p>
                    <ul>
                        {% for brand in brands %}
                            <li><a href="/brands/{{ brand.getId }}">{{ brand.getbrandName }}</a></li>
                        {% endfor %}
                    </ul>

            </div>
        </div>
    </body>
